// Add your custom CSS here.
// hide add to checkout
//.card-footer .minicart__btn-checkout.btn.btn-block.btn-primary {
//    display: none !important;
//}

@media(max-width: 991.99px) {
   #page-home .banners-grid {
      margin-top: 0;
      margin-bottom: 0;
      // background: #d9cfc5 !important;
      .row .col-12.col-lg-2 {
         max-width: 50%;
         padding: 0;
         margin-bottom: 0;
      }
    }
}

@media(min-width: 992px) {
   #page-home .banners-grid {
      margin-top: 0.5rem;
      margin-bottom: 0rem;
      .row .col-12 {
         max-width: 33.33% !important;
         flex: 0 0 33.33% !important;
         padding: 0;
         margin-bottom: 0;
      }
    }
}

.prices__installments span:after, .payment-option__installment li:after {
   content: ' com juros'
}