// Add your custom CSS here.
// hide add to checkout
//.card-footer .minicart__btn-checkout.btn.btn-block.btn-primary {
//    display: none !important;
//}

@media(max-width: 767px) {
   #page-home .banners-grid {
      margin-top: 0;
      margin-bottom: 0;
      background: #d9cfc5 !important;
    }
}
